body{
    background-color: white
}

.buy-our-food{
    font-size: 160px;
    font-family: italic;
    
    color: rgb(27,152,32)
    

}

.we-hungry{
    font-size: 60px;
    
    color:rgb(236,8,245)
    


}

.576-237-gdh4{
    color:rgb(8,245,236
    )
}